[submodule "vendor/node-static"]
	path = vendor/node-static
	url = git://github.com/cloudhead/node-static.git
[submodule "vendor/node-streamlogger"]
	path = vendor/node-streamlogger
	url = git://github.com/andrewvc/node-streamlogger.git
